<p>
  schedule works!
</p>

<div *ngIf="numberMovers"></div>

<div *ngIf="numberPounds"></div>

<div *ngIf="numberSquareFeet"></div>

<div *ngIf="jobType"></div>

<div *ngIf="vanLine"></div>

<div *ngIf="arrivalTime"></div>

<div *ngIf="address"></div>



<!--

    This page allows a Driver to schedule/request a move on a specific date from a specific group.
        - This will allow the group leader to dish out work as they please to their guys.
        - Driver sees Groups and their ratings.
        - Form to actually request the labor:
            - # Movers
            - # Pounds
            - # Sq Ft.
            - Job Type - (Pack, Load, Unload, Unpack, Specialty)
            - Van Line
            - Driver (This will be the driver that is logged in.)
            - Date
            - Arrival Time
            - Address

-->
