<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><b>I</b><span class='bs-prime'><b>M</b><i>over</i></span></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">

             </ul>
            
            <ul class="nav navbar-nav navbar-right">
                <li *ngIf="currentMover && currentMover.roles"><a routerLinkActive="active" [routerLink]="['/']">Home</a></li>
                <li *ngIf="currentMover && currentMover.roles" class="dropdown" (click)="navbarOpenLink2 = !navbarOpenLink2" [ngClass]="{open : navbarOpenLink2}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" ><i class="glyphicon glyphicon-user"></i> Me <span class="caret"></span></a>
                    <ul *ngIf="currentMover && currentMover.roles" class="dropdown-menu">
                        <li><a [routerLink]="['/profile']">My Profile</a>
                            <br>
                            <span ng-bind="currentMover && currentMover.email"></span>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li><a [routerLink]="['/recentjobs']">My Recent Jobs</a></li>
                        <li><a [routerLink]="['/groupsearch']">Search Groups</a></li>
                        <li><a [routerLink]="['/jobsearch']">Search Jobs</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a ng-click="logout()" [routerLink]="['/login']">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<!--
    Navbar Spec:
        
        * LoggedOut:

            < <Mktg Link> <Description>  <Links> <Login Link> >
                <Description>:
                    Driver: <Recent Jobs Dropdown> Allows Driver to rate movers on his jobs.

                    Mover: <Rating> <Recent Jobs Dropdown> <Groups Dropdown>


        * LoggedIn:
-->
